@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --white-: #ffffff;

  --border-botton: 3px solid var(--branco);
}

table, th, td {
  border: none;
}

@font-face {
  font-family: 'MinhaFonte';
  src: url('/assets/fontes/Ev_font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.fonte-ev {
  font-family: 'MinhaFonte', sans-serif;
}

.fonte-inter {
  font-family: "Inter", sans-serif;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid white; /* Cor e tamanho da seta */
  cursor: pointer; /* Indica que é interativo */
}

.custom-select:hover {
  background-color: #2563eb; /* Azul mais claro para o hover */
}
 
html,body {
  @apply text-16;
  font-family: 'Inter', 'Arial Narrow', Arial, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE e Edge */
  scrollbar-width: none;  /* Firefox */
}

@keyframes slide-in {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.5s forwards;
}

.hidden-init {
  opacity: 0;
  transform: translateX(-100%);
}

.azulclaro {
  background-color: #0066FF;
}

/* metas */
@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slide-down 0.5s ease-out;
}

/* grafico ano */
@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.5s ease-out forwards;
}


.placeholder-center::placeholder {
  text-align: center;
  color: white;
  font-weight: lighter;
}

.border-b-global {
  border-bottom: 3px solid var(--branco);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.custom-div {
  text-align: left;
  color: black;
}

.custom-div:focus {
  color: #8ab7fa; /* Cor ao focar */
  outline: none; /* Remove o contorno padrão */
  background-color: red;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loader {
  box-shadow: 0 0 10px 2px white;
}