@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --white-: #ffffff;

  --border-botton: 3px solid var(--branco);
}

.custom-select:hover {
  background-color: #2563eb; /* Azul mais claro para o hover */
}

.placeholder-center::placeholder {
  text-align: center;
  color: white;
  font-weight: lighter;
}

.border-b-global {
  border-bottom: 3px solid var(--branco);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.custom-div {
  text-align: left;
  color: black;
}

.custom-div:focus {
  color: #8ab7fa; /* Cor ao focar */
  outline: none; /* Remove o contorno padrão */
  background-color: red;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
